
.recent-section {

    background-image: url("https://rog.asus.com/dist/img/rog_bg_pattern.jpg");
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
    
    .container-recent {
    width: 90%;
    }

    .card-text{display: flex;
        justify-content: center;
        
        h2{
            color: white;
            font-size: 30px;
        }
    }
    .card3 {
        display: flex;
        gap: 1rem;

        div {
            display: flex;
            width: 33%;
            overflow: hidden;

            img{
                transition: 1s;
            }
            img:hover{
                transform: scale(1.1);
            }

            
        }
    }
    .card2{
        margin-top: 20px;
        display: flex;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
        justify-content: space-evenly;
        gap: 30px;
        div{width: 40%;
            
            img{
                transition: 1s;
                width: 100%;
            }
            img:hover{
                transform: scale(1.1);
            }
        }
    }

    .recent-btn{
        a{
            width:100px ;
            height: 50px;
            background-color:transparent;
            color: rgb(255, 0, 0);
            &:hover{
                color: rgb(105, 22, 22); 
            }
        }
    }
    @media only screen and (max-width: 980px    ){
        background-image: url("https://rog.asus.com/dist/img/rog_bg_pattern.jpg");
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 190px;
    
    .container-recent {
    width: 90%;
    }

    .card-text{display: flex;
        justify-content: center;
        
        h2{
            color: white;
            font-size: 30px;
        }
    }
    .card3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        div {
            display: flex;
            justify-content: center;
            width: 80%;
            overflow: hidden;

            img{
                transition: 1s;
            }
            img:hover{
                transform: scale(1.1);
            }



            
        }
    }
    .card2{
        margin-top: 20px    ;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        div{width: 80%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            
            img{
                transition: 1s;
            }
            img:hover{
                transform: scale(1.1);
            }
        }
        div:hover{
            scale:(1);
        }
    }

    .recent-btn{
        button{
            width:100px ;
            height: 50px;
            background-color:transparent;
            border: 5px solid white;
        }
    }
    }
}