.section5{
     background-image: url("https://dlcdnwebimgs.asus.com/gain/FDFFE426-0A29-40D5-8E26-C838EB26CA8F");
            width: 100%;
            height: 40vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 100px;
            @media only screen and (max-width: 1000px){
                background-image: url("https://dlcdnwebimgs.asus.com/gain/C2447980-FC01-41FD-B062-184649D61350");
            width: 100%;
            height: 80vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 100px;
            }
}

