.Rog-in-action-text {
    margin-top: 100px;

    h3 {
        text-align: center;
    }
}

.Rog-in-action {
    display: flex;
    width: 100%;

    div {
        width: 50%;
        overflow: hidden;
        display: flex;
        width: 93%;

        flex-direction: column;
        align-items: center;

        .card-img {
            img {
                width: 100%;
            }
        }


        .card-txt {


            h3 {
                color: red;
            }

            p {
                text-align: start;
            }
        }
    }



    @media only screen and (max-width: 1000px) {
        margin-top: 100px;

        h3 {
            text-align: center;
        }



        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 50%;
            overflow: hidden;
            display: flex;
            width: 93%;

            flex-direction: column;
            align-items: center;

            .card-img {
                overflow: hidden;
                img {
                    width: 100%;
                    transition: 1s;

                    &:hover{
                        scale:(1.1);
                    }
                }
            }


            .card-txt {


                h3 {
                    color: red;
                }

                p {
                    text-align: start;
                }
            }
        }
    }
}


.rog-in-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 100px;
        height: 50px;
        background-color: transparent;
        border: 5px solid rgb(0, 0, 0);

    }
}